In [1]:
import pandas as pd

In [44]:
orders_df = pd.read_csv("./Data/olist_orders_dataset.csv")
payments_df = pd.read_csv("./Data/olist_order_payments_dataset.csv")
reviews_df = pd.read_csv("./Data/olist_order_reviews_dataset.csv")
items_df = pd.read_csv("./Data/olist_order_items_dataset.csv")
customers_df = pd.read_csv("./Data/olist_customers_dataset.csv")
sellers_df = pd.read_csv("./Data/olist_sellers_dataset.csv")
geolocation_df = pd.read_csv("./Data/olist_geolocation_dataset.csv")
products_df = pd.read_csv("./Data/olist_products_dataset.csv")
products__category_df = pd.read_csv("./Data/product_category_name_translation.csv")

In [45]:
orders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [46]:
orders_df.drop_duplicates(inplace=True)
orders_df.dropna(how='all', inplace=True)
orders_df["order_purchase_timestamp"] = pd.to_datetime(orders_df["order_purchase_timestamp"])
orders_df["order_delivered_customer_date"] = pd.to_datetime(orders_df["order_delivered_customer_date"])
orders_df["order_estimated_delivery_date"] = pd.to_datetime(orders_df["order_estimated_delivery_date"])
orders_df["actual_delivery_time"] = (orders_df["order_delivered_customer_date"] - orders_df["order_purchase_timestamp"]).dt.days
orders_df["estimated_delivery_time"] = (orders_df["order_estimated_delivery_date"] - orders_df["order_purchase_timestamp"]).dt.days
orders_df["Delay Time"] = orders_df["actual_delivery_time"] - orders_df["estimated_delivery_time"]

orders_df.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,actual_delivery_time,estimated_delivery_time,Delay Time
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,8.0,15,-7.0
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,13.0,19,-6.0
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,9.0,26,-17.0
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,13.0,26,-13.0
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,2.0,12,-10.0

In [47]:
customers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [48]:
orders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  datetime64[ns]
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  datetime64[ns]
 7   order_estimated_delivery_date  99441 non-null  datetime64[ns]
 8   actual_delivery_time           96476 non-null  float64
 9   estimated_delivery_time        99441 non-null  int64
 10  Delay Time                     96476 non-null  float64
dtypes: datetime64[ns](3), float64(2), int64(1), object(5)
memory usage: 8.3+ MB

In [ ]:
final_df = pd.merge(orders_df, customers_df, on="customer_id", how="left")
final_df = pd.merge(final_df, payments_df, on="order_id", how="left")
final_df = pd.merge(final_df, items_df, on="order_id", how="left")
final_df = pd.merge(final_df, products_df, on="product_id", how="left")
final_df = pd.merge(final_df, sellers_df, on="seller_id", how="left")
final_df = pd.merge(final_df, products__category_df, on="product_category_name", how="left")

final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118434 entries, 0 to 118433
Data columns (total 37 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       118434 non-null  object
 1   customer_id                    118434 non-null  object
 2   order_status                   118434 non-null  object
 3   order_purchase_timestamp       118434 non-null  datetime64[ns]
 4   order_approved_at              118258 non-null  object
 5   order_delivered_carrier_date   116360 non-null  object
 6   order_delivered_customer_date  115037 non-null  datetime64[ns]
 7   order_estimated_delivery_date  118434 non-null  datetime64[ns]
 8   actual_delivery_time           115037 non-null  float64
 9   estimated_delivery_time        118434 non-null  int64
 10  Delay Time                     115037 non-null  float64
 11  customer_unique_id             118434 non-null  object
 12  customer_zip_code_prefix       118434 non-null  int64
 13  customer_city                  118434 non-null  object
 14  customer_state                 118434 non-null  object
 15  payment_sequential             118431 non-null  float64
 16  payment_type                   118431 non-null  object
 17  payment_installments           118431 non-null  float64
 18  payment_value                  118431 non-null  float64
 19  order_item_id                  117604 non-null  float64
 20  product_id                     117604 non-null  object
 21  seller_id                      117604 non-null  object
 22  shipping_limit_date            117604 non-null  object
 23  price                          117604 non-null  float64
 24  freight_value                  117604 non-null  float64
 25  product_category_name          115906 non-null  object
 26  product_name_lenght            115906 non-null  float64
 27  product_description_lenght     115906 non-null  float64
 28  product_photos_qty             115906 non-null  float64
 29  product_weight_g               117584 non-null  float64
 30  product_length_cm              117584 non-null  float64
 31  product_height_cm              117584 non-null  float64
 32  product_width_cm               117584 non-null  float64
 33  seller_zip_code_prefix         117604 non-null  float64
 34  seller_city                    117604 non-null  object
 35  seller_state                   117604 non-null  object
 36  product_category_name_english  115881 non-null  object
dtypes: datetime64[ns](3), float64(16), int64(2), object(16)
memory usage: 33.4+ MB

In [63]:
final_df.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,actual_delivery_time,estimated_delivery_time,...,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,seller_zip_code_prefix,seller_city,seller_state,product_category_name_english
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,8.0,15,...,268.0,4.0,500.0,19.0,8.0,13.0,9350.0,maua,SP,housewares
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,8.0,15,...,268.0,4.0,500.0,19.0,8.0,13.0,9350.0,maua,SP,housewares
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,8.0,15,...,268.0,4.0,500.0,19.0,8.0,13.0,9350.0,maua,SP,housewares
3,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,13.0,19,...,178.0,1.0,400.0,19.0,13.0,19.0,31570.0,belo horizonte,SP,perfumery
4,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,9.0,26,...,232.0,1.0,420.0,24.0,19.0,21.0,14840.0,guariba,SP,auto

In [69]:
final_df.to_parquet("./Data/transformed_data")